html, body, .scale_wrapper_content {
  height: 100%;
  margin: 0;
  padding: 0;
}

.profile_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  flex-grow: 1;
}

/**/
.profile_left_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 1vh);
  border-right: 1vh solid rgba(255, 255, 255, 0.2);
}

.profile_photo {
  margin-top: 3vh;
  height: 20vh;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.profile_info_view {
  display: flex;
  flex-direction: column;
  margin: 2vh 5vh;
}

.profile_info_view p{
 font-size: 2.5vh;
}

.profile_info_view .photo_profile_legend  {
  display: flex;
  align-items: center;
}

.photo_profile_legend {
  display: flex;
  justify-content: center;
  background-color: #07a4a4;
  color: whitesmoke;
  padding: 1vh 2vh;
  border-radius: 1vh;
  font-weight: bold;
  margin-top: 1.1vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.profile_info_title{
  margin-top: 5vh;
}

.edit_button {
  border-radius: 0.5vh;
  border: none;
  font-size: 2vh;
  font-weight: bold;
  background-color: rgb(3, 154, 3);
  color: whitesmoke;
  cursor: pointer;
}

.edit_button:hover{
  background-color: green;
}

.profile_edit_title {
  margin-top: 5vh;
  margin-bottom: 1vh;
}

.profile_edit_form {
  display: flex;
  flex-direction: column;
  margin: 2vh 5vh;
  margin-bottom: 0vh;
}

.profile_edit_form label {
  font-size: 1.8vh;
}

.edit_profile_input {
  height: 0.1%;
  width: 90%;
  margin-top: 0.5vh
}

.custom_file_button {
  background-color: rgb(3, 154, 3);
  color: whitesmoke;
  padding: 1vh 2vh;
  border-radius: 1vh;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1.3vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.custom_file_button:hover {
  background-color: green;
}

.profile_input_photo {
  display:none;
}

.role_options {
  width: 45%;
  margin-top: 1vh
}

.edit_buttons {
  display: flex;
  gap: 2vh;
}

.save_button {
  margin-top: 2vh;
  border-radius: 0.5vh;
  border: none;
  background-color: rgb(3, 154, 3);
  color: whitesmoke;
  cursor: pointer;
  font-weight: bold;
}

.save_button:hover {
  background-color: green;
}

.cancel_button {
  margin-top: 2vh;
  padding: 0.5vh 0.5vh;
  border-radius: 0.5vh;
  border: none;
  background-color: rgb(171, 51, 51);
  color: whitesmoke;
  cursor: pointer;
  font-weight: bold;
}

.cancel_button:hover {
  background-color: rgb(134, 43, 43);
}

/**/
.profile_middle_section {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 1vh);
  border-right: 1vh solid rgba(255, 255, 255, 0.2);
}

.clock_photo {
  height: 20vh;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.hours_worked_main_info {
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: green;
  border-radius: 2vh;
  padding: 1.5vh 2vh; 
  margin-bottom: 3vh;
  margin-top: 3vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}



.hours_worked_main_title {
  margin:0vh;
}


.hours_worked_title {
  margin: 0vh;
}

.hours_worked_info {
  margin-top: 1vh;
  color: aqua;
}

/**/
.profile_right_section {
  width: calc(33.33% - 1vh);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vacations_photo {
  margin-top: 3vh;
  height: 20vh;
  border: none;
}

.vacations_info_content {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 2vh;
}

.vacations_title {
  margin-top: 1vh;
  margin-bottom: 0vh;
}

.vacations_info {
  margin-top: 1vh;
  color: aqua;
}

.schedule_vacations_button {
  border:none;
  border-radius: 1vh;
  padding: 1vh 1vh;
  font-size: 2vh;
  font-weight: bold;
  background-color: rgb(3, 154, 3);
  color: whitesmoke;
  margin-top: 2vh;
  cursor: pointer;
}

.schedule_vacations_button:hover{
  background-color:green;
}

.scale_wrapper_content {
  align-self:center;
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#scale_wrapper {
  flex: 1;
  width: 100%;
  height: 100%;
}